section{
    .positions {
        padding: 100px 150px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        button {
          padding: 15px 30px;
          border: 1px solid #ff5a30;
          border-radius: 5px;
          background: none;
          color: #ff5a30;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          transition: 0.4s;
          cursor: pointer;
          &:hover {
            color: white;
            background: #ff5a30;
          }
        }
        .cards {
          display: flex;
          justify-content: space-between;
          gap: 50px;
          border: 1px solid #e5e8ed;
          padding: 30px;
          border-radius: 5px;
          align-items: center;
          transition: .3s;
          &:hover {
            -webkit-box-shadow: 0px 4px 11px 0px rgba(154, 156, 165, 0.68);
            -moz-box-shadow: 0px 4px 11px 0px rgba(154, 156, 165, 0.68);
            box-shadow: 0px 4px 11px 0px rgba(154, 156, 165, 0.68);
          }
          section {
            display: flex;
            flex-direction: column;
            gap: 20px;
            header {
              display: flex;
              gap: 10px;
              color: #787a80;
      
              p {
                display: flex;
                gap: 5px;
              }
            }
            h1{
              color: #1E212C;
              font-size: 20px;
            }
          }
          
        }
        main {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        aside{
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 30%;
          justify-content: center;
          padding: 10px;
          h1{
              font-size: 28px;
              color: #1E212C;
          }
          p{
              font-size: 18px;
              color: #424551;
          }
          div{
              display: flex;
              gap: 20px;
          }
        }
      }
}
